<template lang="html">
  <div class="card">
    <img :src="album.images[0].url" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">
        <router-link :to="{ 
          name: 'Albums', 
          params: { albumId: album.id } 
        }">{{
          album.name
        }}</router-link>
      </h5>
      <!-- <router-link :to="'albums/?q=' + album.id">{{ -->
    </div>
  </div>
</template>

<script>
/**
 * @typedef {Object} Album
 * @property {string} id
 */

// https://gist.github.com/lbssousa/fc74c39e4aa22a85316a0ed1fc26fa05
// https://medium.com/@znck/type-vue-without-typescript-b2b49210f0b
export default {
  // props: ["album"],
  props: {
    album: {
      required: true,
      /** @type {import('vue').PropType<Album>} */
      type: Object,
    },
  },
  created() {
    this.album.id;
  },
};
</script>
