<template>
  <div class="card">
    <img
      src="https://www.placecage.com/c/200/300"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Artist name</h5>
    </div>
  </div>
</template>
<script>
export default {
  props: [],
};
</script>
