<template lang="html">
  <PlaylistDetails :playlist="playlist" />
</template>
<script>
import store from "../../store";
import PlaylistDetails from "../../components/playlists/PlaylistDetails.vue";
import { mapGetters } from "vuex";
export default {
  async beforeRouteEnter(to, from, next) {
    await store.dispatch("playlists/select", to.params.playlistId);
    next();
  },
  async beforeRouteUpdate(to, from, next) {
    await store.dispatch("playlists/select", to.params.playlistId);
    next();
  },
  computed: {
    ...mapGetters("playlists", {
      playlist: "selected",
    }),
  },
  components: { PlaylistDetails },
};
</script>
