<!-- vueInit -->
<template lang="html">
  <div>
    <h3 class="display-3">Playlists</h3>


    <div class="alert alert-danger" v-if="error">{{ error.message }}</div>

    <div class="row">
      <div class="col">
        <PlaylistList
          :playlists="playlistsData"
          @remove="deletePlaylist($event)"
        />
        <button class="btn btn-info float-end mt-3" @click="showCreateForm">
          Create New
        </button>
      </div>
      <div class="col">
        <!-- <router-view :playlist="selected"></router-view> -->
        <PlaylistDetails
          v-if="selected && mode === 'details'"
          :playlist="selected"
          @edit="showEditForm()"
        />

        <PlaylistForm
          ref="editorRef"
          v-else-if="selected && mode === 'edit'"
          :playlist="selected"
          @cancel="showDetails()"
          @submit="savePlaylist($event)"
        />

        <PlaylistForm
          ref="editorRef"
          v-else-if="mode === 'create'"
          @cancel="showDetails()"
          @submit="createPlaylist($event)"
        />

        <p class="alert alert-info" v-else>No playlist selected</p>
      </div>
    </div>
  </div>
</template>

<script>
import { UserInjectonToken } from "../../App.vue";
import PlaylistDetails from "../../components/playlists/PlaylistDetails.vue";
import PlaylistForm from "../../components/playlists/PlaylistForm.vue";
import PlaylistList from "../../components/playlists/PlaylistList.vue";
import {
  fetchCurrentUserPlaylists,
  fetchPlaylistById,
} from "../../services/APIService";

export default {
  components: { PlaylistDetails, PlaylistForm, PlaylistList },
  inject: ["userProvider"],
  async beforeRouteEnter(to, from, next) {
    try {
      const playlists = await fetchCurrentUserPlaylists();
      const id = to.params.playlistId;
      let selected = id && (await fetchPlaylistById(id));

      next(async (vue) => {
        vue.mode = to.query.mode || "details";
        vue.playlistsData = playlists;
        vue.selected = selected;
      });
    } catch (error) {
      next(error);
    }
  },
  async beforeRouteUpdate(to, form, next) {
    try {
      if (this.$refs["editorRef"]?.hasUnsavedData()) {
        next(new Error("Form has unsaved data"));
      }
      const id = to.params.playlistId;
      this.mode = to.query.mode || "details";
      this.selected = id && (await fetchPlaylistById(id));
      next();
    } catch (error) {
      next(error);
    }
  },
  data() {
    return {
      mode: "details",
      playlistsData: [],
      error: null,
      selected: null,
    };
  },
  methods: {
    selectPlaylist(id) {
      this.$router.push({ name: "Playlists", params: { playlistId: id } });
    },
    showDetails() {
      this.$router.push({ query: { mode: "details" } });
    },
    showEditForm() {
      this.$router.push({ query: { mode: "edit" } });
    },
    showCreateForm() {
      this.$router.push({ name: "Playlists", query: { mode: "create" } });
    },
    savePlaylist(draft) {
      this.playlistsData = this.playlistsData.map((p) =>
        p.id === draft.id ? draft : p
      );
      this.$router.replace({
        name: "Playlists",
        params: { playlistId: draft.id },
        query: { mode: "details" },
      });
    },
    createPlaylist(draft) {
      draft.id = Date.now() + (Math.random() * 100_000).toFixed(0);
      this.playlistsData.push(draft);
      this.$router.replace({
        name: "Playlists",
        params: { playlistId: draft.id },
        query: { mode: "details" },
      });
    },
    deletePlaylist(id) {
      this.playlistsData = this.playlistsData.filter((p) => p.id !== id);
      if (this.selectedId === id) {
        this.$router.replace({ name: "Playlists", query: { mode: "details" } });
      }
    },
  },
};
</script>
