<template lang="html">
  <div>
    <h3 class="display-3">Playlists</h3>

    <div class="row">
      <div class="col">
        <PlaylistList
          :playlists="playlistsData"
          @remove="deletePlaylist($event)"
        />
        <router-link
          :to="{ name: 'Playlists', query: { mode: 'create' } }"
          class="btn btn-info float-end mt-3"
        >
          Create New
        </router-link>
      </div>
      <div class="col">
        <router-view :playlist="selected"></router-view>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import store from "../../store";
import PlaylistList from "../../components/playlists/PlaylistList.vue";
export default {
  async beforeRouteEnter(to, from, next) {
    await store.dispatch("playlists/load");
    next();
  },
//   async beforeRouteUpdate(to, from, next) {
//     await store.dispatch("playlists/select", to.query.id);
//     next();
//   },
  computed: {
    ...mapGetters("playlists", {
      playlistsData: "myplaylists",
      selected: "selected",
    }),
  },
  components: { PlaylistList },
};
</script>
