<!-- vueInit -->
<template lang="html">
  <div>
    <form @submit.prevent="submit()">
      <Card>
        <!-- <pre>{{ playlist }}</pre>
    <pre>{{ draft }}</pre> -->

        <div class="form-group mb-3">
          <label for="playlist_name">Name</label>
          <input
            type="text"
            class="form-control"
            name="playlist_name"
            id="playlist_name"
            placeholder="Name"
            v-model="draft.name"
            ref="nameInputRef"
          />
          <small id="counter" class="form-text text-muted float-end">
            {{ draft.name.length }} / 100</small
          >
        </div>

        <div class="form-check mb-3">
          <label class="form-check-label">
            <input
              type="checkbox"
              class="form-check-input"
              v-model="draft.public"
            />Public
          </label>
        </div>

        <div class="form-group mb-3">
          <label for="playlist_description">Description</label>
          <textarea
            class="form-control"
            name="playlist_description"
            id="playlist_description"
            rows="3"
            v-model="draft.description"
          />
        </div>

        <div v-if="false">
          <input type="radio" v-model="picked" value="a" /> A
          <input type="radio" v-model="picked" value="b" /> B
          <input type="radio" v-model="picked" value="c" /> C {{ picked }}
          <br />

          <input
            type="checkbox"
            v-model="toggle"
            true-value="yes"
            false-value="no"
          />
          {{ toggle }} <br />

          <input type="checkbox" v-model="namesList" value="Jack" />
          <input type="checkbox" v-model="namesList" value="Jim" />
          <input type="checkbox" v-model="namesList" value="Johnny" />
          {{ namesList }} <br />

          <select v-model="selected" multiple>
            <option value="abc">ABC</option>
            <option value="cba">CBA</option>
          </select>
          {{ selected }} <br />

          <pre>{{
            JSON.stringify({
              picked,
              toggle,
              namesList,
              selected,
            })
          }}</pre>
        </div>

        <!--  <template v-slot> can only appear at the root level inside the receiving component -->
        <template v-slot:footer>
          <div>
            <button class="btn btn-success" type="submit">Save</button>
            <button class="btn btn-danger" @click="cancel()">Cancel</button>
          </div></template
        >
      </Card>
    </form>
  </div>
</template>

<script>
export default {
  // props:['playlist'],
  props: {
    playlist: {
      // required: true,
      default() {
        return {
          id: "",
          name: "",
          public: false,
          description: "",
        };
      },
    },
  },
  // https://vuejs.org/v2/guide/instance.html#Lifecycle-Diagram
  // https://vuejs.org/v2/api/#created
  created() {
    // data is reactive (getters/setters ready), no DOM
    // console.log("created");
  },
  mounted() {
    // DOM is updated (runs only once)
    // console.log("mounted");
    // document.getElementById("playlist_name").focus();
    // this.$el.querySelector('#playlist_name').focus();
    // this.$refs["inputRef"]?.forEach(...)
    // this.$refs["nameInputRef"] && this.$refs["nameInputRef"].focus();
    this.$refs["nameInputRef"]?.focus();
  },
  updated() {
    // DOM is updated (after data change)
    // console.log("updated");
  },
  destroyed() {
    // DOM, data, events are destroyed
    // console.log("destroyed");
  },
  watch: {
    playlist: {
      handler() {
        this.draft = { ...this.playlist };
      },
      immediate: true,
    },
  },
  data() {
    return {
      draft: null,
      picked: "a",
      toggle: "no",
      namesList: [],
      selected: ["cba"],
      submitted: false,
    };
  },
  methods: {
    hasUnsavedData() {
      return (
        !this.submitted &&
        JSON.stringify(this.draft) !== JSON.stringify(this.playlist)
      );
    },
    cancel() {
      this.$emit("cancel", this.draft.id);
    },
    submit() {
      this.submitted = true;
      this.$emit("submit", this.draft);
    },
  },
};
</script>

<style lang="css"></style>
