<!-- vueInit -->
<template lang="html">
  <div>
    <Card>
      <template v-slot:header>
        {{ playlist.name }}
      </template>

      <dl
        v-bind:id="playlist.id"
        :data-id="'playlist_' + playlist.id"
        :title="playlist.name"
      >
        <dt>Name:</dt>
        <dd>{{ playlist.name }}</dd>

        <dt>Public:</dt>
        <dd
          style="font-size: 20px"
          class="border-bottom"
          :style="{
            color: playlist.public ? 'green' : 'red',
          }"
          :class="{
            'border-danger': !playlist.public,
            'border-success': playlist.public,
          }"
        >
          {{ playlist.public ? "Yes" : "No" }}
        </dd>

        <dt>Description:</dt>
        <dd>{{ playlist.description }}</dd>
      </dl>

      <template v-slot:footer>
        <div>
          <Button
            class="btn-danger"
            title="cancel"
            @click="$router.push('/playlists')"
          >
            <div>Cancel</div>
          </Button>
          <button class="btn btn-info" @click="edit()">Edit</button>
        </div>
      </template>
    </Card>
  </div>
</template>

<script>
export default {
  props: ["playlist"],
  filters: {
    // titlecase(val) {
    //   return val.substr(0, 1).toUpperCase() + val.substr(1);
    // },
    yesno(val) {
      return val ? "yes" : "no";
    },
  },
  methods: {
    edit() {
      this.$emit("edit", this.playlist.id);
    },
  },
  data() {
    return {
      //   playlist: {
      //     id: "123",
      //     name: "Playlist 123",
      //     public: true,
      //     description: "My favourite 123",
      //   },
    };
  },
};
</script>
