<!-- vueInit -->
<template lang="html">
  <div>
    <!-- .list-group>.list-group-item*3{$. Playlist $$$} -->
    <div class="list-group">
      <router-link
        class="list-group-item"
        v-for="(playlist, index) in playlists"
        :key="playlist.id"
        active-class="active"
        :to="{ name: 'PlaylistDetails', params: { playlistId: playlist.id } }"
      >
        {{ index + 1 }}. {{ playlist.name }}

        <span class="close float-end" @click.stop="$emit('remove', playlist.id)"
          >&times;</span
        >
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  props: ["playlists"],
};
</script>
