<template>
  <div v-if="album">
    <div class="row">
      <div class="col">
        <h2 class="display-4">{{ album.name }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <AlbumCard :album="album" />
      </div>
      <div class="col">
        <dl>
          <dt>Name:</dt>
          <dd>{{ album.name }}</dd>
          <dt>Artist:</dt>
          <dd>{{ album.artists[0].name }}</dd>
        </dl>

        <div v-if="album.tracks">
          <div class="list-group">
            <div
              class="list-group-item"
              v-for="track of album.tracks.items"
              :key="track.id"
            >
              {{ track.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import AlbumCard from "../components/music/AlbumCard.vue";
import { fetchAlbumById } from "../services/APIService";
import Loader from "../components/Loader.vue";

// http://localhost:8080/albums/5Tby0U5VndHW0SomYO7Id7

export default {
  components: { AlbumCard, Loader },
  async beforeRouteEnter(to, from, next) {
    const album = await fetchAlbumById(to.params.albumId);
    next(function (vue) {
      vue.album = album;
    });
  },
  data() {
    return {
      album: null,
    };
  },
};
</script>
