<template lang="html">
  <div>
    <div>
      <h3 class="display-5">Counter</h3>

      <!-- {{ $store.getters.counterMessage }}
      <button @click="$store.dispatch('startCounter', 10)">Start</button> -->

      <h3>{{ counterMessage }}</h3>

      Limit <input type="number" v-model="limit" />

      <Button @click="startCounter(limit)">Start</Button>
    </div>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return { limit: 5 };
  },
  computed: {
    ...mapGetters("counter", ["counterMessage"]),
  },
  methods: {
    ...mapActions("counter", ["startCounter"]),
  },
};
</script>
