<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HEllo Vue</title>
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div id="app">
      <div v-show="widoczne">
        <div v-text="message"></div>
        <div v-html="message"></div>
        <div>{{ message }}</div>
        <div>{{ pudelko.placki }}</div>
        <div>{{ pudelko.rzeczy[1] }}</div>
      </div>
      <button v-on:click="zmien()">Change message!</button>
      <button
        v-on:click="pokaz()"
        v-on:click="zmien()"
        v-bind:style="widoczne? 'color:red':'color:blue'"
      >
        {{ widoczne? 'Schowaj':'Pokaz' }}
      </button>
    </div>

    <script>
      var app = new Vue({
        // template: "<div>{{message}}</div>",
        el: "#app",
        data: {
          message: "Hello <h1>Vue!</h1>",
          widoczne: false,
          pudelko: {
            placki: "123",
            rzeczy: [1, 2, 3],
          },
        },
        methods: {
          pokaz() {
            this.widoczne = !this.widoczne;
          },
          zmien() {
            this.message = "zmieniona message " + Date();
          },
        },
      });
    </script>
  </body>
</html>
