<template lang="html">
  <!-- <button class="btn" v-on:click="$emit('click',$event)"><slot>Submit</slot></button> -->
  <button class="btn" v-on="$listeners"><slot>Submit</slot></button>
</template>
<script>
export default {
  // props:['label']
};
</script>
