<template lang="html">
  <div class="card">
    <div class="card-header" v-if="$slots.header">
        <slot name="header">Default title</slot>
    </div>
    <div class="card-body"><slot></slot></div>
    
    <div class="card-footer">
        <slot name="footer"></slot>
    </div>
  </div>
</template>
<script>
export default {
  // props:['label']
//   beforeMount(){
//       this.$slots.header
//       debugger
//   }
};
</script>
