<template lang="html">
  <div>
    <div class="">
      <div class="ms-auto d-flex align-items-center float-end">
        <div class="spinner-border" role="status" aria-hidden="true"></div>
        <strong class="ms-4">Loading... </strong>
      </div>
    </div>
  </div>
</template>
