<template>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
    <div class="container">
      <a class="navbar-brand" href="#">MusicApp</a>
      <button
        class="navbar-toggler"
        type="button"
        @click="open = !open"
        aria-controls="navbarNav"
        :aria-expanded="open"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <router-link class="nav-link" active-class="placki" to="/playlists">
              Playlists
            </router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" to="/search">Search</router-link>
          </li>
        </ul>
        <div class="navbar-text ms-auto">
          <UserWidget v-slot="widgetProps">
            <div v-if="widgetProps.user">
              Welcome {{ widgetProps.user.display_name }} |
              <span @click="widgetProps.logout()">Logout</span>
            </div>
            <div v-else>Welcome Guest</div>
          </UserWidget>
        </div>
      </div>
    </div>
  </nav>
</template>
<script>
import UserWidget from "./UserWidget.vue";
export default {
  data() {
    return { open: false };
  },
  components: { UserWidget },
};
</script>
