<template lang="html">
  <div>
    <!-- <slot v-bind="userProvider"></slot> -->

    <!-- <slot :user="userProvider.user"
    :logout="userProvider.logout"></slot> -->

    <slot
      v-bind="{
        user: userProvider.user,
        logout: logout,
      }"
    ></slot>
  </div>
</template>
<script>
export default {
  inject: ["userProvider"],
  methods: {
    logout() {
      this.userProvider.logout();
    },
  },
};
</script>
