<template>
  <div class="input-group">
    <input
      type="text"
      class="form-control"
      v-model="localQuery"
      @keyup.enter="submit()"
      @input="$emit('modelChange', $event.target.value)"
      v-bind="$attrs"
      v-on="$listeners"
    />
    <button class="btn btn-outline-secondary" type="button" @click="submit">
      Search
    </button>
  </div>
</template>
<script>
export default {
  inheritAttrs: false,
  model: {
    prop: "value",
    event: "modelChange",
  },
  props: {
    value: {},
  },
  created() {
    this.$attrs;
    this.$listeners;
  },
  watch: {
    value() {
      this.localQuery = this.value;
    },
  },
  data() {
    return {
      localQuery: this.value,
    };
  },
  methods: {
    submit() {
      //   this.$listeners.search( this.localQuery);
      this.$emit("search", this.localQuery);
    },
  },
};
</script>
