<template>
  <div>
    <div class="row row-cols-1 row-cols-sm-4 g-0">
      <div class="col" v-for="result in results" :key="result.id">
        <AlbumCard :album="result"/>
      </div>
    </div>
  </div>
</template>
<script>
import AlbumCard from "../music/AlbumCard.vue";

export default {
  components: { AlbumCard },
  props: ["results"],
};
</script>
