<template>
  <div id="app">
    <NavBar />
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="alert alert-danger my-3" v-if="error">
            {{ error.message }}
          </div>
          <Loader v-if="loading" />
          <!--  -->
          <router-view />
          <!--  -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import HelloWorld from "./components/HelloWorld.vue";
import "bootstrap/dist/css/bootstrap.css";
import PlaylistsView from "./views/playlists/PlaylistsView.vue";
import NavBar from "./components/NavBar.vue";
import router from "./router";
import Loader from "./components/Loader.vue";
import { fetchCurrentUserProfile } from "./services/APIService";
import { mapGetters, mapMutations } from "vuex";

export const UserInjectonToken = Symbol("User Token");

export default {
  components: { HelloWorld, PlaylistsView, NavBar, Loader },
  // watch: {
  //   error() {
  //     clearTimeout(this.handler);

  //     this.handler = setTimeout(() => {
  //       this.error = null;
  //     }, 3000);
  //   },
  // },
  provide() {
    return {
      // [UserInjectonToken]: this.userData,
      userProvider: this.userData,
    };
  },
  computed: {
    ...mapGetters("ui", ["loading", "error"]),
  },
  data() {
    return {
      title: "Hello Vue",
      userData: {
        user: null,
      },
    };
  },
  methods: {
    ...mapMutations("ui", {
      start: "LOADING_START",
      success: "LOADING_SUCCESS",
      onError: "LOADING_FAILED",
    }),
  },
  created() {
    // this.$store.dispatch('users/loadCurrentUser')
    this.userData.logout = () => {
      this.userData.user = null;
    };
    fetchCurrentUserProfile().then((user) => {
      this.userData.user = user;
    });

    router.beforeEach((to, from, next) => {
      this.start();
      next();
    });
    router.afterEach((to, from) => {
      this.success();
    });
    router.onError((error) => {
      this.onError(error);
    });
  },
};
</script>
