<template>
  <div>
    <h3 class="display-3">Search</h3>

    <div class="row">
      <div class="col">
        <SearchForm
          @search="search"
          v-model="query"
          class="mb-3"
          placeholder="Search Albums"
          @keydown.ctrl.enter="results = []"
        />
        <div class="text-muted float-end">{{ query.length }} / 50</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <SearchResults :results="results" />
      </div>
    </div>
  </div>
</template>
<script>
import SearchForm from "../../components/search/SearchForm.vue";
import SearchResults from "../../components/search/SearchResults.vue";
import { fetchAlbumSearchResults } from "../../services/APIService";

export default {
  components: { SearchForm, SearchResults },
  async beforeRouteEnter(to, from, next) {
    try {
      const query = to.query.query || '';
      const results = query? await fetchAlbumSearchResults(query) : []
      next((vue) => {
        vue.results = results;
        vue.query = query;
      });
    } catch (error) {
      next(error);
    }
  },
  async beforeRouteUpdate(to, from, next) {
    try {
      const query = to.query.query || '';
      const results = query? await fetchAlbumSearchResults(query) : []
      this.results = results;
      this.query = query;
      next();
    } catch (error) {
      next(error);
    }
  },
  beforeRouteLeave(to, from, next) {
    next();
  },
  data() {
    return {
      results: [],
      query: "batman",
    };
  },
  methods: {
    search(query) {
      this.$router.push({ name: "Search", query: { query: query } });
    },
  },
};
</script>
