<template lang="html">
  <div>
    <h3 class="display-3">Search</h3>

    <div class="row">
      <div class="col">
        <SearchForm
          @search="search"
          :value="query"
          class="mb-3"
          placeholder="Search Albums"
        />
        <div class="text-muted float-end">{{ query.length }} / 50</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <SearchResults :results="albums" />
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import SearchForm from "../../components/search/SearchForm.vue";
import SearchResults from "../../components/search/SearchResults.vue";
import store from "../../store";

export default {
  async beforeRouteEnter(to, from, next) {
    await store.dispatch("search/searchAlbums", to.query.query);
    next();
  },
  async beforeRouteUpdate(to, from, next) {
    await store.dispatch("search/searchAlbums", to.query.query);
    next();
  },
  computed: {
    ...mapGetters("search", {
      albums: "results",
      query: "query",
    }),
  },
  methods: {
    search(query) {
      this.$router.push({ query: { query } });
    },
  },
  components: { SearchForm, SearchResults },
};
</script>
